body {
  background-color: lightgrey;
} 

table, td {
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
}

th {
  background-color: lightgray;
  border-radius: 10px;
}

td {
  /* width: 100px; */
  padding: 1px;
  margin: 1px;
  text-align: center;
}

#groupgames {
  writing-mode:sideways-lr;
  text-wrap: nowrap;
}

#pos {
  writing-mode:sideways-lr;
  /* text-wrap: nowrap; */
  width: 75px;
}

.phase {
  /* background-color: cadetblue ; */
  width: 175px;
  /* text-align: left; */
  text-align: center;
}

.labels {
  border: 3px solid black;
  background-color: lightgray;
}

#groups{

  /* border: solid black; */
  border-radius: 10px;
}

#groupA, #groupC, #groupE, #groupG, #groupI, #groupK   {
  width: 200px;
  border: solid cadetblue;
  border-radius: 10px;
  background-color: white;
}
#groupB, #groupD, #groupF, #groupH, #groupJ, #groupL  {
  width: 200px;
  border: 3px solid burlywood;
  border-radius: 10px;
  background-color: white;
}

.blank {
  color: white;
  background-color: white;
}

.lost {
  background-color: white; /*rgba(242, 242, 242, 0.5);*/
  /* color: maroon; */
  text-decoration: line-through;
}

.won {
  background-color: rgba(242, 242, 242, 0.5);/*rgba(144, 238, 164, 0.603);*/
  /* color: greenyellow; */
}

#fin_groups {
  text-align: left;
  text-wrap: nowrap;
}

.progress {
  border-color: MediumAquaMarine;
  border-width: 3px;
}

.advance {
  border-color: MediumAquaMarine;
  border-width: 3px;
}
.out{
  background-color: lightgray;
  border-style: none;
}
.eliminated{
  border-color: indianred;
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 3px), tomato, transparent calc(50% + 3px)); 
  border-width: 2px;
}

#Top_scorers{
  border: solid;
  border-width: 3px;
  text-align: left;
}

#flag_pic {
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  border-width: 2px;
  border-radius: 15%;
}

.background {
  background-color: white;
}

.clean {
  border-style: none;
}


#winner {
  background-color: gold;
  border-color: goldenrod;
}

#runnersup {
  background-color: silver;
  border-color: darkgray;
}

#thirdplace {
  background-color: #cd7f32;
  border-color: #cd7f32;
}
/* ######################################################################## */
.tooltip {
  position: relative;
  cursor: pointer;
}


.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ######################################################################## */