* {
  /* background-color: lightslategrey; */
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}
/* th, td {
  background-color: #96D4D4;
} */
td {
     width: 110px;
     text-align: center;
}
.phase {
  background-color: cadetblue ;
  width: 175px;
  text-align: left;
}

#groupA, #groupC,#groupE, #groupG,#groupI, #groupK   {
  border: 3px solid black;
  border-radius: 10px;
  background-color: cadetblue ;
}
#groupB, #groupD,#groupF, #groupH,#groupJ, #groupL  {
  border: 3px solid black;
  border-radius: 10px;
  background-color: burlywood ;
}
/* tr:hover {background-color: #D6EEEE;} */

/* ######################################################################## */
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ######################################################################## */